
body {
    font-size: 20px;
    color: teal;
    font-family: Calibri;
}

input {
    font-size: 1em;
    border: 2px solid #807828;
    border-radius: 8px;
}

input[type="button"], input[type="submit"] {
    padding: 10px, 15px;
    margin: 15px 10px;
    background: rgba(224, 244, 38, 0.22);
}

.error {
    color: red;
}